<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>
<body>
    <h1>¡Bienvenido al cafeteria de Hernán!</h1>
    {{{ body}}}
</body>
</html>


<script src="/socket.io/socket.io.js" charset="utf-8"></script> //script para el server con socket.io
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> // llamo a sweetalert2.js
<script src="index.js" charset="utf-8"></script> //llamo al index en la carpeta public